.projectContainer {
  margin-top: 90px;
}

.projectHeading {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  color: aliceblue;
  font-size: 60px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  .projectContainer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .projectHeading {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .projectHeading {
    font-size: 30px;
  }
}

.sliderContainer {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 3rem;
  color: aliceblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 150px;
  font-size: 3rem;
  color: aliceblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  display: flex;
  justify-content: center;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.cardContainer {
  width: 600px;
  height: 400px;
  border: 1px solid aliceblue;
  border-radius: 10px;
}

.projectTitle {
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
}

.projectInfo {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Comfortaa", cursive;
}

.projectPic {
  flex: 50%;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}

.projectPic img {
  width: 100%;
  height: 100%;
}

.projectDescription {
  flex: 50%;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}

.githubLink {
  padding: 20px;
  font-size: 20px;
}

.dotContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 450px;
}

.dotWrapper {
  display: flex;
  width: 40px;
  justify-content: space-around;
}

.dot {
  height: 20px;
  width: 20px;
  border: 1px solid aliceblue;
  border-radius: 50%;
}

.dot.fill {
  height: 20px;
  width: 20px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  border-radius: 50%;
}
