.projectContainer {
  margin-top: 90px;
  overflow: hidden;
}

.projectHeading {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  color: aliceblue;
  font-size: 60px;
  margin-bottom: 25px;
}

.projectContainer a:link {
  color: aliceblue;
}

/* visited link */
.projectContainer a:visited {
  color: aliceblue;
}

/* mouse over link */
.projectContainer a:hover {
  color: rgb(216, 217, 218);
}

/* selected link */
.projectContainer a:active {
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .projectHeading {
    font-size: 30px;
    margin-bottom: 0px;
  }
}

.sliderContainer {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 3rem;
  color: aliceblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .right-arrow {
    position: absolute;
    top: 90%;
    right: 0px;
    font-size: 1.9rem;
    color: aliceblue;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 150px;
  font-size: 3rem;
  color: aliceblue;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .left-arrow {
    position: absolute;
    top: 90%;
    left: 0px;
    font-size: 1.9rem;
    color: aliceblue;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}

.slide {
  opacity: 0;
  transition: all 1s ease;
  display: flex;
  transform: translateX(500px);
}

.active {
  opacity: 1;
  transition:all 1s ease;
  justify-content: center;
}

.cardContainer {
  width: 600px;
  height: 400px;
  border: 1px solid aliceblue;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    width: 350px;
    height: 350px;
  }
}

.projectTitle {
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
}

.projectInfo {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Comfortaa", cursive;
}

.projectPic {
  flex: 50%;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}

.projectPic img {
  width: 100%;
  height: 100%;
}

.projectDescription {
  flex: 50%;
  border-top: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
}

@media only screen and (max-width: 600px) {
  .projectDescription {
    flex: 50%;
    font-size: 12px;
    border-top: 1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
  }
}

.githubLink {
  padding: 20px;
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .githubLink {
    font-size: 10px;
  }
}

.dotContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 450px;
}

@media only screen and (max-width: 600px) {
  .dotContainer {
    margin-top: 380px;
  }
}

.dotWrapper {
  display: flex;
  width: 40px;
  justify-content: space-around;
}

.dot {
  height: 20px;
  width: 20px;
  border: 1px solid aliceblue;
  border-radius: 50%;
}

.dot.fill {
  height: 20px;
  width: 20px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  border-radius: 50%;
}
