.skillContainer {
  margin-top: 90px;
}

.skillHeading {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  color: aliceblue;
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .skillHeading {
    font-size: 30px;
  }
}

.donutContainer {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  margin-top: 25px;
  flex-wrap: wrap;
}

.donut {
  width: 10em;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .donut {
    font-family: "Comfortaa", cursive;
    width: 0em;
    flex: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .donutContainer .donut:nth-child(5) div {
    margin-left: 22%;
    width: 10em;
    flex: 10%;
  }
}

.donut div:nth-child(2) {
  margin-top: 10px;
}
