.resume-container {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  border: 2px solid aliceblue;
  margin-bottom: 20px;
  color: aliceblue;
}
.resume-print{
  display: flex;
  justify-content:flex-end;
  
}
.resume-header {
  text-align: center;
  font-weight: 700;
}
.resume-header-name {
  font-family: Arial, Helvetica, sans-serif;
}

.resume-education-header {
  font-weight: 700;
  font-size: 20px;
}
.resume-education-details {
  margin-left: 60px;
}
.resume-education-degree {
  margin-left: 20px;
}

.resume-experience-header {
  font-weight: 700;
  font-size: 20px;
}
.resume-experience-details {
  margin-left: 60px;
}

.experience-briefing {
  margin-left: 30px;
}

.resume-skill-sets {
  margin-left: 60px;
}

.resume-skills {
  margin-left: 30px;
}
