.projectContainer {
  margin-top: 90px;
}

.projectHeading {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  color: aliceblue;
  font-size: 60px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 600px) {
  .projectHeading {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .projectHeading {
    font-size: 30px;
  }
}

.card {
  font-family: "Comfortaa", cursive;
  font-weight: 500;
}

.projectdec {
  color: black;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.projectTitle {
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .projectTitle {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .gitgubLink {
    font-size: 15px;
  }
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Comfortaa", cursive;
  font-size: 18px;
}

.flip-card-back {
  background-color: #254552;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.gitgubLink {
  margin-top: 5px;
}

.techUsed {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .springtech {
    font-size: 12px;
    
  }
}
