.skillContainer {
  margin-top: 90px;
}

.skillHeading {
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  color: aliceblue;
  font-size: 60px;
}

@media only screen and (max-width: 600px) {
  .skillHeading {
    font-size: 30px;
  }
}

.donutContainer {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  margin-top: 25px
}

.donut {
  width: 10em;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}

.donut div:nth-child(2) {
  margin-top: 10px;
}
