.introContainer {
  top: 0;
  z-index: -1;
  color: aliceblue;
}

.avtarContainer {
  display: flex;
  justify-content: center;
}

.nameIntroContainer {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .nameIntroContainer {
    margin-top: 20px;
  }
}

.nameIntro {
  font-size: 70px;
  font-family: "Comfortaa", cursive;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .nameIntro {
    font-size: 30px;
    font-family: "Comfortaa", cursive;
    color: aliceblue;
  }
}

.briefIntro {
  font-size: 20px;
  color: aliceblue;
  width: 700px;
  margin-left: 27%;
}
@media only screen and (min-width: 600px) {
  .briefIntroMobile {
    display: none;
    color: aliceblue;
  }
}
@media only screen and (max-width: 600px) {
  .briefIntro {
    display: none;
    color: aliceblue;
  }
}

.briefIntroMobile {
  width: 100%;
}

.socialContainer {
  width: 500px;
  margin-left: 32%;
}

.socialIconContainer {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .socialContainer {
    width: 400px;
    margin-left: 0%;
  }
}
